<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add New Course | Teacher</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <!-- Index-Page-CSS -->
    <link rel="stylesheet" href="css/add_course.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800" rel="stylesheet" />
</head>

<body>
    <%- include('templates/nav.ejs') %>

    <section class="main-content">
        <h1 class="title">Add New Course</h1>
        <div class="input-fields">
            <input type="text" id="filter" onkeyup="myFunction()" placeholder="Course Name"><br />
            <input type="text" id="filter" onkeyup="myFunction()" placeholder="Course ID"><br />
            <button type="submit" class="btn"><i class="fa fa-plus"></i> Register</button>
        </div>
    </section>
</body>

</html>