* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(../images/bg.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  min-height: 100vh;
  font-family: "Mukta", sans-serif;
  overflow: hidden;
}

header {
  background: rgb(12, 12, 12);
  height: 60px;
}

header * {
  color: white;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
}

header .logo-text {
  margin: 5px;
}

header ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

header ul li {
  float: left;
  position: relative;
}

header ul li a {
  display: block;
  padding: 15px;
  font-size: 1.1em;
  text-decoration: none;
}

header ul li a:hover {
  background: #363636;
  cursor: pointer;
  transition: 0.5s;
}

header ul li ul {
  position: absolute;
  top: 60px;
  display: none;
  right: 0;
  width: 100%;
}

header ul li:hover ul {
  display: block;
}

header ul li ul li {
  width: 100%;
}

header ul li ul li a {
  background: rgb(12, 12, 12);
  color: gray;
}

header ul li ul li a:hover {
  background: #363636;
  color: white;
}

.main-content {
  width: 100%;
  padding: 0 5%;
  margin: 0 auto;
}

.title {
  color: white;
  font-size: 40px;
  padding-top: 10px;
}

.buttons {
  /* float: right; */
  width: 180%;
  padding-left: 50%;
  padding-right: 10%;
}

button.btn {
  background: #1ed761;
  border: none;
  color: #fff;
  padding: 11px 15px;
  text-transform: uppercase;
  font-family: "Mukta", sans-serif;
  font-size: 14px;
  width: 11%;
  margin-top: 35px;
  margin-left: 2%;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

#problem-statement {
  float: left;
  background: #2b2b2b;
  margin: 0;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  resize: none;
  outline: none;
  text-align: justify;
  color: white;
  border: 0;
  font-family: "Mukta", sans-serif;
}

#textbox {
  float: right;
}
