<header>
    <div class="logo">
        <h1 class="logo-text">Digital Classroom</h1>
    </div>
    <ul class="nav">
        <li>
            <a href="#"><i class="fa fa-user"></i>&nbsp; <%= user %> &nbsp;<i class="fa fa-chevron-down"
                    style="font-size: .8em;"></i></a>
            <ul>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout" class="logout">Log Out</a></li>
            </ul>
        </li>
    </ul>
</header>